@mixin flexcenter {
   display: flex;
   align-items: center;
   justify-content: center;
}
@mixin max-media($_key) {
   @media screen and (max-width: map-get($breakpoints, $_key)) {
      & {
         @content;
      }
   }
}
