$primaryBackgroundColor: #18181a;
$secondaryBackgroundColor: #252426;
$tertiaryBackgroundColor: #3a3a3c;

$primaryColor: #fd2d01;
$secondaryColor: #ffd7d7;

$popupColorValidator: #2acd2a;

$primaryTextColor: #e4e6eb;
$secondaryTextColor: #b0b3b8;
$tertiaryTextColor: #e3e5ea;
