.containerConnexion {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 30px;
   padding: 30px;
   width: 100%;
   height: 100vh;
   @include max-media("tablet") {
      height: auto;
      flex-direction: column;
   }
   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      overflow: hidden;
      width: 60%;
      min-width: 400px;
      padding: 10% 0 10% 0;
      @include max-media("tablet") {
         height: 110px;
         width: 100%;
         padding: 0;
      }
      img {
         width: 100%;
      }
   }
   &__form {
      display: flex;
      align-items: center;
      max-width: 500px;
      width: 100%;
      @include max-media("tablet") {
         max-width: none;
      }
   }
}
