input[type="submit"] {
   position: relative;
   z-index: 1;
   font-size: 18px;
   background-color: $tertiaryBackgroundColor;
   border-style: none;
   border-color: darken($secondaryColor, $amount: 20%);
   color: $primaryTextColor;
   box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0.2);
   padding: 5px 20px;
   border-radius: 2px;
   font-weight: bold;
   &:hover {
      box-shadow: 1px 0px 15px 10px rgba(0, 0, 0, 0.2);
      scale: 1.01;
      cursor: pointer;
      background-color: $secondaryColor;
      color: black;
   }
}

.buttonPost {
   padding: 5px 10px;
   border: none;
   border-radius: 2px;
   cursor: pointer;
   &__update {
      @include flexcenter;
      background-color: $editColor;
      height: 25px;
      width: 25px;
   }
   &__cancel {
      background-color: $deleteColor;
   }
   &__delete {
      @include flexcenter;
      background-color: $deleteColor;
      height: 25px;
      width: 25px;
   }
}

.inputComment__btnSubmit {
   @include flexcenter;
   height: 34px;
   width: 34px;
   border-radius: 50%;
   border: none;
   &:hover {
      box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      background-color: $secondaryColor;
      color: black;
   }
}
