.containerInputPost {
   display: flex;
   position: relative;
   margin-top: 60px;
   width: 80%;
   max-width: 1000px;
   border-radius: 5px;
   background-color: $secondaryBackgroundColor;
   &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 30px;
      textarea {
         height: 100%;
         padding: 5px 15px;
         background-color: $tertiaryBackgroundColor;
         border: none;
         color: $secondaryTextColor;
         &::placeholder {
            color: $secondaryTextColor;
         }
         &:focus-visible {
            outline: none;
         }
      }
      .preview {
         display: flex;
         max-height: 50px;
         gap: 20px;
         align-items: center;
         padding: 5px;
         background-color: $primaryBackgroundColor;
         color: $secondaryTextColor;
         border: 2px solid black;
         margin: 10px 0;
         img {
            height: 100%;
         }
      }
   }
}

.containerInputFile {
   display: inline-block;
   position: relative;
   cursor: pointer;
   min-height: 35px;
   width: 150px;
   input[type="file"] {
      left: 0;
      top: 0;
      opacity: 0;
      position: absolute;
      font-size: 90px;
      cursor: pointer;
      min-height: 35px;
      max-height: 50px;
      width: 150px;
   }
   .btnUploadFile {
      background-color: #fff;
      border: 3px solid #000;
      color: #000;
      padding: 5px 15px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      min-height: 35px;
      width: 150px;
   }
}

.deleteImage {
   cursor: pointer;
}
