.likesBar {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 30px;
   height: 40px;
   gap: 20px;
   font-size: 18px;
   &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 15px;
      width: calc(100% - 30px);
      height: 2px;
      background-color: $tertiaryBackgroundColor;
   }
   div {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $secondaryTextColor;
      .like {
         cursor: pointer;
         &__active {
            color: green;
         }
      }
      .dislike {
         cursor: pointer;
         &__active {
            color: red;
         }
      }
   }
}
