.popup {
   position: absolute;
   align-items: center;
   display: flex;
   gap: 10px;
   top: 30px;
   right: 30px;
   opacity: 0;
   background: white;
   height: 50px;
   padding: 10px;
   border-radius: 2px;
   animation: 5s popupTransition;
   &__iconContainer {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
   }
   &__error {
      .popup__iconContainer {
         background-color: red;
      }
   }
   &__valid {
      .popup__iconContainer {
         background-color: $popupColorValidator;
      }
   }
}

@keyframes popupTransition {
   0% {
      top: -50px;
      opacity: 0;
   }
   25% {
      top: 30px;
      opacity: 1;
   }
   75% {
      top: 30px;
      right: 30px;
      opacity: 1;
   }
   100% {
      opacity: 0;
      right: -400px;
   }
}
