.postContainer {
   width: 80%;
   max-width: 1000px;
   ul {
      width: 100%;
      margin-top: 40px;
   }
}

.post {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   border-radius: 5px;
   background-color: $secondaryBackgroundColor;
   &__header {
      display: flex;
      margin: 20px 20px 0 20px;
   }
   &__content {
      width: 100%;
      padding: 15px 20px;
      list-style: none;
   }
   &__text {
      border-radius: 3px;
      min-height: 40px;
      width: 100%;
      color: $primaryTextColor;
      &__update {
         background-color: $secondaryBackgroundColor;
         padding: 5px 10px;
         &:focus-visible {
            outline: none;
         }
      }
   }
}

.postOwner {
   display: flex;
   gap: 10px;
   width: 50%;
   &__text {
      font-size: 12px;
      color: $secondaryTextColor;
      line-height: 25px;
   }
   &__avatar {
      background-color: $tertiaryBackgroundColor;
      width: 25px;
      height: 25px;
      border-radius: 50%;
   }
}
.buttonPostContainer {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
   width: 50%;
}
