.popupProfileBackground {
   @include flexcenter;
   height: 100vh;
   width: 100vw;
   position: fixed;
   z-index: 5;
   background-color: rgba(0, 0, 0, 0.8);
}
.popupProfile {
   height: 80vh;
   width: 80%;
   max-width: 1000px;
   background-color: $secondaryBackgroundColor;
   position: relative;
   border-radius: 10px;
   z-index: 10;
   padding: 0 30px 50px 30px;
   overflow: scroll;
   @include max-media("tablet") {
      height: 100vh;
      width: 100%;
   }
}
.popupProfileContainer {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   & > p {
      color: $primaryTextColor;
      font-weight: bold;
   }
   .crossPopupProfile {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      &::after {
         content: "";
         position: absolute;
         height: 6px;
         width: 40px;
         top: 12px;
         left: -5px;
         border-radius: 3px;
         background-color: $primaryTextColor;
         transform: rotate(45deg);
      }
      &::before {
         content: "";
         position: absolute;
         height: 6px;
         width: 40px;
         top: 12px;
         left: -5px;
         border-radius: 3px;
         background-color: $primaryTextColor;
         transform: rotate(-45deg);
      }
   }
}

.changeAvatar {
   display: flex;
   align-items: center;
   gap: 20px;
}
.containerButtonAvatarChange {
   display: flex;
   gap: 10px;
   .buttonAvatar {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e4e6eb;
      padding: 5px 10px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      &__edit {
         height: 25px;
         width: 25px;
         input[type="file"] {
            position: absolute;
            height: 25px;
            width: 25px;
            opacity: 0;
            z-index: 10;
            cursor: pointer;
         }
      }
      &__cancel {
         background-color: $deleteColor;
      }
   }
}
.avatarContainer {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100px;
   width: 100px;
   overflow: hidden;
   border-radius: 50%;
   img {
      position: absolute;
      height: 100%;
   }
}
